.itempage {
    display: flex;
    flex-direction: column;

}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-img {
    width: 100px;
}