.browse {
    overflow-y: scroll;
    max-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 60vw;
}

.result-reducer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.browse-search {
    width: 25em;
}

#searchbar {
    width: 80%;
}

.browse-opt {
    flex: 0 32%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4em;
}

.browse-link {
    font-size: larger;
    text-align: center;
}