body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  max-height: inherit;
  margin: 0;
}